body{
    background-color: rgb(241, 241, 241);
}
p{
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 0.75rem;
    padding:0;
    margin:0;
    text-transform: uppercase;
    color:rgb(10,10,10);
}
h1{
    font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    font-size:1.5rem;
    padding:0;
    margin:0;
    color:rgb(20,20,20);
}
h2{
    font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    padding:0;
    margin:0;
    color:rgb(20,20,20);
}
h3{
    font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 0.75rem;
    color:rgb(20,20,20);
    font-weight:400;
    padding:0;
    margin:0;
}

/**** Top Bar ****/

#top-bar{
    position:fixed;
    display:flex;
    top: 0;
    width: 100%;
    padding: 20px ;
    z-index: 1000;
    background-color: rgb(241, 241, 241);
    align-items: center ;
    justify-content: space-between;
}


#right{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 10px;
    flex-wrap: wrap;
    position:relative;
    right:30px;
}
#center{
    justify-content: center;
    margin-right: 20px;    
}

@media (min-width : 700px){
    #three-bar{
        display: none;
    }
    #left{
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin: 10px;
        justify-content: flex-start;
    }
}


@media (max-width : 700px){
    #left{
        display:none;
    }
    #three-bar{
        display:inline;
    }
    #three-bar:hover .dropdown-content {
        display: block;
        position:absolute;
        background-color: rgb(241, 241, 241);
        z-index: 1;
        padding:20px;
    }
    #three-bar .dropdown-content >div{
        margin-bottom: 20px;
    }
    #currency{
        display:none;
    }
    #left-aside, #right-aside{
        display :none;
    }
    #aside-wrapper{
        width: 100%;
        top:70px;
        display:block;
    }
}

.dropbtn , .dropbtn2{
    padding: 0px;
    background: none;
    color: rgb(0, 0, 0);
    border: none;
    font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 0.75rem;
}

.dropdown-content {
    display: none;
    z-index: 1;
    padding:20px;
}
  
#currency:hover .dropdown-content {
    display: block;
    position:absolute;
    background-color: rgb(241, 241, 241);
    z-index: 1;
}

/**** main ****/
body{
    margin-top: 100px;
}

@media (min-width:700px){
    #aside-wrapper{
        width: 100%;
        top:70px;
        display:grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
}

main{
    margin: 10px;
}
main p{
    font-size: 1rem;
    text-decoration:underline;
}

#ss25{
    margin-top: 20px;
    margin-bottom: 50px;
}
#ss25-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:10px;
    margin-bottom:10px;
    width:100%;
}
#video-wrapper{
    position:relative;
    display:inline-block;
}
video {
    max-width: 100%;
}

/***/
#side-by-side{
    display:grid;
    grid-template-columns: 1fr 1fr;
    width:100%;
    margin-bottom: 50px;
}
#side-by-side img{
    width:100%;
}
#side-by-side p{
    font-size: 0.9rem;
}
#SpringCapsule{
    margin: 10px 25px 10px 0px;
}
#MiaArmstrong{
    margin: 10px 0px 10px 25px;
}
@media (min-width:1000px){
    #SpringCapsule-header, #MiaArmstrong-header{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 0px 10px 0px;
    }
}
@media (max-width:1000px){
    #SpringCapsule-header, #MiaArmstrong-header{
        padding: 10px 0px 10px 0px;
    }
    #side-by-side h2,  #side-by-side p{
        padding: 5px 0px 5px 0px;
    }

    #side-by-side p{
        padding: 0px 0px 5px 0px;
    }
}

/***/
#NewIn{
    width:100%;
    margin-bottom: 50px;
}
#NewIn-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:10px;
    margin-bottom:10px;
    width:100%;
}
#NewIn img{
    max-width:100%;
    height: auto;
    display:block;
}
#NewIn-items h3{
    padding: 5px;
    text-decoration: underline;
}
#NewIn-items p{
    font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 0.75rem;
    color:rgb(20,20,20);
    font-weight:400;
    padding:5px;
    margin:0;
    text-decoration: none;
}

@media (min-width:800px){
    #NewIn-items{
        max-width: 100%;
        background-color: rgb(243,247,247);
        display:grid;
        gap:5px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding:20px 20px 20px 20px;
    }
}

@media (max-width:800px){
    #NewIn-items{
        max-width: 100%;
        background-color: rgb(243,247,247);
        display:grid;
        gap:5px;
        grid-template-columns: 1fr 1fr ;
        padding:20px 20px 20px 20px;
    }
}


/*****/
#two-by-two{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width:100%;
    margin-bottom: 50px;
    column-gap:100px;
    row-gap:20px;
}

#two-by-two section{
    width:100%;
}

#two-by-two img{
    width:100%;
}

#two-by-two p{
    padding: 10px;
    padding-left: 0px;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
}

/****/
#description h3{
    font-size: 1rem;
    padding-bottom: 10px;
}
#description p{
    font-size: 0.75rem;
    text-transform: capitalize;
    text-decoration: none;
}


/**** aside ****/
#left-aside, #right-aside{
    margin:10px;
    margin-left:10%;
    margin-top:70px;
}
#right-aside{
    justify-self: flex-end;
    margin-left:0;
    margin-right: 10%;
}

#left-aside >div , #right-aside >div{
    padding-bottom: 20px;
}


/**** footer ****/

footer{
    margin: 0px 30px 30px 30px;
    margin-top:100px;
}
#member{
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-bottom: 30px;
    align-items: center;
}

#extra{
    margin-top:20px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
#extra p{
    display:inline;
    padding-right: 10px;
}
#extra-right{
    display:inline;
}
#extra-right {
    justify-content: flex-end;
}
#extra img{
    padding-left:10px;
}